// ====================================================================
// Mixins
//
// These are top-level functions and re-usable styles that can be used
//  in any Stylus partial
// ====================================================================

/**
 * Media query breakpoints
 *
 * Example usage:
 *   +mq(50em) {
 *     color: red;
 *   }
 */
mq(point) {
  @media (min-width: point) {
    {block}
  }
}

/**
 * Clearfix
 *
 * Example usage:
 *   div {
 *     @extend $clearfix;
 *   }
 */
$clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/**
 * Hide from both screenreaders and browsers: h5bp.com/u
 *
 * Example usage:
 *   div {
 *     @extend $hidden;
 *   }
 */
$hidden {
  display: none !important;
  visibility: hidden;
}

/**
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 *
 * Example usage:
 *   div {
 *     @extend $visuallyhidden;
 *   }
 */
$visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/**
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 *
 * Example usage:
 *   div {
 *     @extend $visuallyhidden--focusable;
 *   }
 */
$visuallyhidden--focusable {
  &:active,
  &:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

/**
 * Hide visually and from screenreaders, but maintain layout
 *
 * Example usage:
 *   div {
 *     @extend $invisible;
 *   }
 */
$invisible {
  visibility: hidden;
}

/**
 * Remove list styles
 *
 * Example usage:
 *   ul {
 *     @extend $removeliststyles;
 *   }
 */
$removeliststyles {
  list-style: none;
  margin: 0;
  padding: 0;
}